body{
    text-align: center;
    background-color: chartreuse;
}
.mynavbar{
    position:sticky;
    z-index: 99999;
    top:0;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    text-align: middle;
    color: white;
}
marquee{
    direction:right;
}
#SchoolLife iframe{
    margin-top: 10px
}